/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	padding-block: 102px;
	min-inline-size: 320px;
	min-block-size: 100dvb;
	font-family: var(--main-font);
	font-variation-settings: 'wght' var(--text-weight);
	background-color: var(--background-color);
	background-image: repeating-linear-gradient(
			var(--repeating-linear-gradient-color) 0 2px,
			transparent 2px,
			transparent 4px
		),
		repeating-linear-gradient(
			var(--repeating-gradient-direction),
			var(--repeating-linear-gradient-color) 0 2px,
			transparent 2px,
			transparent 4px
		),
		linear-gradient(
			var(--linear-gradient-color-from) 0.01%,
			var(--linear-gradient-color-to)
		);
	background-size: cover;
	background-attachment: fixed;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-block-end: 97px;
	font-family: var(--accent-font);
	padding: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem) 0 25px 0;
	border: 2px solid var(--accent-color);
	background-color: var(--theme-background);
	color: var(--accent-color);
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
}

.header__title {
	font-size: clamp(3.063rem, 2.715rem + 1.497vw, 4.063rem);
	margin-block-end: 18px;
	outline: none;
}

.header__subtitle {
	font-size: clamp(0.875rem, 0.68rem + 0.842vw, 1.438rem);
	margin-block-end: 25px;
}

.theme-menu__list {
	padding-inline-start: 20px;
	display: inline-flex;
	flex-direction: column;
	gap: 13px;
}

.theme-menu__item {
	text-align: start;
}

.button {
	position: relative;
	font-family: var(--accent-font);
	font-size: 14px;
	text-transform: inherit;
	background: none;
	border: none;
	padding: 0;
	outline: none;
	cursor: pointer;
}

.theme-menu__button {
	transition: opacity 0.3s ease;
}

.theme-menu__button:hover,
.theme-menu__button:focus {
	opacity: 0.6;
}

.theme-menu__button:focus::after {
	scale: 1;
}

.theme-menu__button:focus {
	outline: none;
}

.theme-menu__button:disabled {
	opacity: 0.6;
	pointer-events: none;
}

.theme-menu__button:disabled::before {
	content: '▶';
	position: absolute;
	inset-inline-start: -30px;
	inset-block-start: 0;
	animation: arrow-move 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
	content: '';
	position: absolute;
	inset-inline-start: 0;
	inset-block-end: -3px;
	scale: 0;
	width: 100%;
	height: 2px;
	background-color: var(--accent-color);
	transition: scale 0.3s ease;
	transform-origin: left;
}

.content {
	inline-size: clamp(23.188rem, 16.138rem + 30.402vw, 43.5rem);
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.card {
	inline-size: 100%;
	border: 2px solid var(--accent-color);
	font-family: var(--main-font);
	font-variation-settings: 'wght' var(--text-weight);
	color: var(--accent-color);
	background-color: var(--theme-background);
}

.card__title {
	font-size: 18px;
	font-variation-settings: 'wght' var(--title-weight);
	padding: 4px 7px;
}

.card__picture-wrap {
	position: relative;
}

.card__image {
	border-block-start: 2px solid var(--accent-color);
	border-block-end: 2px solid var(--accent-color);
	object-fit: cover;
	object-position: right;
	width: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
	aspect-ratio: 1;
}

.card__image_grayscale {
	filter: grayscale(0.7);
}

.card__image_saturate {
	filter: saturate(390%);
}

.card__image_hue-rotate {
	filter: hue-rotate(40deg);
}

.card__image_invert {
	filter: invert(80%);
}

.card__image_sepia {
	filter: sepia(1);
}

.card__image_blur {
	filter: blur(7px);
}

.card__image_hue-rotate-blur {
	filter: hue-rotate(95deg) blur(1px);
}

.card__watermark {
	position: absolute;
	z-index: 2;
	font-family: var(--accent-font);
	opacity: 0.5;
	font-size: 14px;
	inset-inline-end: clamp(0.688rem, 0.423rem + 1.127vw, 1.438rem);
	inset-block-start: clamp(1.563rem, 1.452rem + 0.469vw, 1.875rem);
	font-weight: 500;
	mix-blend-mode: hard-light;
	text-shadow: 1px 0 0 var(--theme-background), 0 1px 0 var(--theme-background),
		-1px 0 0 var(--theme-background), 0 -1px 0 var(--theme-background);
	color: var(--accent-color);
}

@supports (
	(text-stroke: 1px var(--theme-background)) or
		(-webkit-text-stroke: 1px var(--theme-background))
) {
	.card__watermark {
		text-shadow: none;
		-webkit-text-stroke: 1px var(--theme-background);
		text-stroke: 1px var(--theme-background);
	}
}

.card__text {
	display: flex;
	flex-direction: column;
	gap: 27px;
	font-size: 18px;
	padding: 25px 25px 0 25px;
}

.card__actions {
	display: flex;
	justify-content: end;
	gap: 5px;
	padding: 25px;
}

.card__icon-button {
	border: 2px solid transparent;
	transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
	border-color: currentColor;
}

.card__button {
	min-inline-size: 130px;
	padding-block: 9px;
	line-height: 90%;
	border: 2px solid var(--accent-color);
	transition: translate 0.5s ease-in-out, box-shadow 0.3s ease;
	overflow: hidden;
}

.card__button:focus {
	outline: none;
	box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.card__button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--accent-color);

	translate: -100%;
}

.card__button:hover::before {
	translate: 0%;
}

.button__text {
	color: var(--button-color);
	position: relative;
	z-index: 1;
	mix-blend-mode: difference;
}

.contour {
	fill: var(--accent-color);
	transition: fill 0.1s linear;
}

.sparks {
	opacity: 0;
}

.main-body,
.core,
.sparks {
	fill: transparent;
}

.core {
	transition: fill 0.3s 0.03s linear;
}

.main-body {
	transition: fill 0.3s linear;
}

.like-icon {
	cursor: pointer;
}

.like-icon:hover .core {
	fill: var(--accent-color);
	transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
	fill: var(--accent-color);
	transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
	fill: var(--heart-color);
	transition: fill 0.3s linear;
}

.like-icon:active .main-body {
	fill: var(--heart-color);
	transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour,
.like-icon.is-liked .sparks {
	fill: var(--heart-color);
}

.like-icon.is-liked .core {
	transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
	transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
	transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .sparks {
	animation: sparks-blink 0.3s 0.3s ease-in alternate;
}

.like-icon.is-liked .heart {
	animation: scale-heart 0.3s 0.1s ease-in alternate;
	transform-origin: center;
}

.main__save-button {
	inline-size: clamp(19.125rem, 18.465rem + 2.817vw, 21rem);
	padding: 15px;
	background-color: var(--theme-background);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	float: left;
	gap: 8px;
}

.main__svg {
	width: clamp(1.75rem, 1.904rem + -0.657vw, 1.313rem);
	color: var(--button-color);
	mix-blend-mode: difference;
}

.dialog[open] {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content min-content;
	row-gap: 30px;
	column-gap: 20px;
	inline-size: clamp(21.313rem, 20.96rem + 1.502vw, 22.313rem);
	font-family: var(--accent-font);
	background-color: var(--theme-background);
	color: var(--accent-color);
	font-size: 14px;
	border: 2px solid var(--accent-color);
	padding-block: 32px;
	padding-inline: clamp(2rem, 1.783rem + 0.935vw, 2.625rem);
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	line-height: 150%;
}

.dialog::backdrop {
	background-color: #000;
	opacity: 0.75;
}

.dialog__form {
	grid-column: span 2;
}

.dialog__button {
	inline-size: 100%;
	padding-block: 12px;
}
