/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
	--main-font: 'Inter', sans-serif;
	--accent-font: 'Press Start 2P', fantasy;
	--title-weight: 785;
	--text-weight: 465;
	--background-color: black;
	--accent-color: #00cc14;
	--theme-background: #000;
	--repeating-linear-gradient-color: #000;
	--linear-gradient-color-from: #007f0c;
	--linear-gradient-color-to: #004306;
	--repeating-gradient-direction: to right;
	--linear-gradient-direction: to bottom;
	--heart-color: #ff0000;
	--button-color: #00cc14;
}
